body {
  background-color: black;
}

.title {
  margin: 0;
  font-size: 80px;
  color: white;
  text-align: center;
}

#button {
  border-radius: 30px;
  left: 44.25%;
  position: absolute;
  transition-duration: 0.4s;
  top: 70%;
  padding: 25px;
  font-size: 25px;
  background-color: white;
  color: black;
  cursor: pointer;
}

#button:hover {
  background-color: lightgreen;
  color: green;
}

.image_div {
  left: 35%;
  background: transparent;
  position: relative;
}

img {
  height: 30%;
  width: 30%;
}
