body {
	background-color: black;
}

h1 {
	font-size: 60px;
	color: white;
	text-align: center;
}

p {
	position: relative;
	display: block;
	color: white;
	font-size: 40px;
	text-align: center;
	margin-bottom: 70px;
}

.video_div {
		position: relative;
    overflow: hidden;
    padding-top: 56.25%;
		/* padding-bottom: 0; */
}

#video {
		position: absolute;
    top: 0;
		bottom: 0;
    left: 15%;
    width: 70%;
    height: 70%;
    border: 0;
}

#cfop_tutorial {
  border-radius: 30px;
  left: 44.25%;
  position: relative;
  transition-duration: 0.4s;
  padding: 25px;
  font-size: 25px;
  background-color: white;
  color: black;
  cursor: pointer;
}

#cfop_tutorial:hover {
  background-color: lightgreen;
  color: green;
}
