body {
    background-color: #55c5adbb !important;
}

p {
    margin-top: 2%;
    margin-left: 4%;
    color: black;
}

#game {
    font-size: 30px;
    margin-left: 4%;
}

.game {
    color: black;
}

.game:hover {
    color: #006970da;
}