body {
    background-color: #c49dff !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.chessboard {
    border-radius: 2em;
    border-color: black;
    width: 48%;
    height: 5.2em;
    margin: auto;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.number {
    font-size: 1.5em;
    margin: auto;
    margin-right: 30%;
    font-weight: bold;
}

.letter {
    display: inline;
    vertical-align: middle;
    font-size: 1.5em;
    margin: auto;
    margin-top: 20%;
    font-weight: bold;
    height: inherit;
}

.black {
    height: inherit;
    background-color: #999;
    font-size: 4em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.white {
    height: inherit;
    background-color: #fff;
    font-size: 4em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.black:hover {
	background-color: #5c5c5c;
}

.white:hover {
	background-color: #5c5c5c;
}

#htmlPage {
    display: none;
}