body {
    background-color: #55c5adbb !important;
}

p a #signUp {
    color: black !important;
}

p a #signUp:hover {
    color: #aa73fd !important;
}

h1 {
    font-size: 3em;
}
  
p, label, input, button {
    font-size: 1.5em;
}