body {
    background-color: #55c5adbb !important;
}

button {
    font-size: 4em;
    position: relative;
    left: 20%;
    width: 20%;
    margin: 5%;
}

h1 {
    font-size: 4em;
    position: relative;
    margin-top: 7%;
    text-align: center;
}