<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/CSS/home.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/shared.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Checkmate</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://localhost:5000/home">Home</a></li>
      <li id="play"><a href="http://localhost:5000/play">Play</a></li>
      <li><a id="login" href="http://localhost:5000/login">Login</a></li>
      <li id="profile"><a href="http://localhost:5000/profile">Your Profile</a></li>
    </ul>
  </div>
</nav>
  
<p>Checkmate!<br><br>Welcome to our chess website. In order to play, <br>please sign up or login into your profile.</p>

<!-- <script src="../static/JavaScript/home.js"></script> -->
<script src="../static/JavaScript/islogged.js"></script>
</body>
</html>