<!DOCTYPE html>
<html>
    <head>
        <title>Game</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<link rel="stylesheet" type="text/css" href="../static/CSS/game.css">
		<link rel="stylesheet" type="text/css" href="../static/CSS/sharedGame.css">
		<link rel="stylesheet" type="text/css" href="../static/CSS/shared.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<!-- <link href="../static/bootstrap-4.5.3-dist/css/bootstrap.min.css" rel="stylesheet"> -->
    </head>
    <body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
			  <div class="navbar-header">
				<a class="navbar-brand">&#9822; Checkmate &#9822;</a>
			  </div>
			  <ul class="nav navbar-nav">
				<li><a href="http://localhost:5000/">Home</a></li>
				<li id="play"><a href="http://localhost:5000/play">Play</a></li>
				<li><a id="login" href="http://localhost:5000/logout">Logout</a></li>
				<li id="turn">Your turn</li>
				<li id="profile"><a href="http://localhost:5000/profile">Your Profile</a></li>
			  </ul>
			</div>
		  </nav>

		<p id="opponent">{{opponent_name}} (win rate: {{opponent_win_rate}}%)</p>

		<div class="chessboard">
			<!-- 8th -->
			<div class="number">8</div>
			<div id="A8" class="white" onclick="clicked(this.id)">&#9820;</div>
			<div id="B8" class="black" onclick="clicked(this.id)">&#9822;</div>
			<div id="C8" class="white" onclick="clicked(this.id)">&#9821;</div>
			<div id="D8" class="black" onclick="clicked(this.id)">&#9819;</div>
			<div id="E8" class="white" onclick="clicked(this.id)">&#9818;</div>
			<div id="F8" class="black" onclick="clicked(this.id)">&#9821;</div>
			<div id="G8" class="white" onclick="clicked(this.id)">&#9822;</div>
			<div id="H8" class="black" onclick="clicked(this.id)">&#9820;</div>
			<!-- 7th -->
			<div class="number">7</div> 
			<div id="A7" class="black" onclick="clicked(this.id)">&#9823;</div>
			<div id="B7" class="white" onclick="clicked(this.id)">&#9823;</div>
			<div id="C7" class="black" onclick="clicked(this.id)">&#9823;</div>
			<div id="D7" class="white" onclick="clicked(this.id)">&#9823;</div>
			<div id="E7" class="black" onclick="clicked(this.id)">&#9823;</div>
			<div id="F7" class="white" onclick="clicked(this.id)">&#9823;</div>
			<div id="G7" class="black" onclick="clicked(this.id)">&#9823;</div>
			<div id="H7" class="white" onclick="clicked(this.id)">&#9823;</div>
			<!-- 6th -->
			<div class="number">6</div>
			<div id="A6" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="B6" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<div id="C6" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="D6" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<div id="E6" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="F6" class="black" onclick="clicked(this.id)">&nbsp;</div>
      		<div id="G6" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="H6" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<!-- 5th -->
			<div class="number">5</div>
			<div id="A5" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<div id="B5" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="C5" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<div id="D5" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="E5" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<div id="F5" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="G5" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<div id="H5" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<!-- 4th -->
			<div class="number">4</div>
			<div id="A4" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="B4" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<div id="C4" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="D4" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<div id="E4" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="F4" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<div id="G4" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="H4" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<!-- 3rd -->
			<div class="number">3</div>
			<div id="A3" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<div id="B3" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="C3" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<div id="D3" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="E3" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<div id="F3" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<div id="G3" class="black" onclick="clicked(this.id)">&nbsp;</div>
			<div id="H3" class="white" onclick="clicked(this.id)">&nbsp;</div>
			<!-- 2nd -->
			<div class="number">2</div>
			<div id="A2" class="white" onclick="clicked(this.id)">&#9817;</div>
			<div id="B2" class="black" onclick="clicked(this.id)">&#9817;</div>
			<div id="C2" class="white" onclick="clicked(this.id)">&#9817;</div>
			<div id="D2" class="black" onclick="clicked(this.id)">&#9817;</div>
			<div id="E2" class="white" onclick="clicked(this.id)">&#9817;</div>
			<div id="F2" class="black" onclick="clicked(this.id)">&#9817;</div>
			<div id="G2" class="white" onclick="clicked(this.id)">&#9817;</div>
			<div id="H2" class="black" onclick="clicked(this.id)">&#9817;</div>
			<!-- 1st -->
			<div class="number">1</div>
			<div id="A1" class="black" onclick="clicked(this.id)">&#9814;</div>
			<div id="B1" class="white" onclick="clicked(this.id)">&#9816;</div>
			<div id="C1" class="black" onclick="clicked(this.id)">&#9815;</div>
			<div id="D1" class="white" onclick="clicked(this.id)">&#9813;</div>
			<div id="E1" class="black" onclick="clicked(this.id)">&#9812;</div>
			<div id="F1" class="white" onclick="clicked(this.id)">&#9815;</div>
			<div id="G1" class="black" onclick="clicked(this.id)">&#9816;</div>
			<div id="H1" class="white" onclick="clicked(this.id)">&#9814;</div>

			<div class="letter"></div>
			<div class="letter">A</div>
			<div class="letter">B</div>
			<div class="letter">C</div>
			<div class="letter">D</div>
			<div class="letter">E</div>
			<div class="letter">F</div>
			<div class="letter">G</div>
			<div class="letter">H</div>
		</div>

		<button id="chatButton" onclick="chatTrigger()">Hide chat</button>
		<div id="chat"></div>

		<form onsubmit="sendMessage(event)">
			<input type="text" id="message" placeholder="Enter a message"/>
		</form>

		<p id="htmlPage">{{html_page}}</p>
		<p id="yourWonFigures"></p><br>
		<p id="opponentsWonFigures"></p>
			
		<p id="waiting">Waiting for the<br>other games to finish...</p>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
		<script src="../static/JavaScript/game.js"></script>
    </body>
</html>
